<%= form_for card, :html => {:multipart => true} do |f| %>

  <p>
  <%= card.name %>
  </p>
  
  <p>
    <%=  card.title  %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p><%= f.submit %></p>
<% end %>